<div id="<%= dom_id developer %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= developer.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Email:</strong>
    <%= developer.email %>
  </p>

</div>
