<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing data access request</h1>

  <%= render "form", data_access_request: @data_access_request %>

  <%= link_to "Show this data access request", @data_access_request, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to "Back to data access requests", data_access_requests_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
