<div id="<%= dom_id check_in %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Guest:</strong>
    <%= check_in.guest_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Check in time:</strong>
    <%= check_in.check_in_time %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Digital key:</strong>
    <%= check_in.digital_key %>
  </p>

</div>
