<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing staff schedule</h1>

  <%= render "form", staff_schedule: @staff_schedule %>

  <%= link_to "Show this staff schedule", @staff_schedule, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to "Back to staff schedules", staff_schedules_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
