<div id="<%= dom_id api_key %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Developer:</strong>
    <%= api_key.developer_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Api key:</strong>
    <%= api_key.api_key %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Status:</strong>
    <%= api_key.status %>
  </p>

</div>
