<div id="<%= dom_id loyalty_program %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Guest:</strong>
    <%= loyalty_program.guest_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Points balance:</strong>
    <%= loyalty_program.points_balance %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Membership tier:</strong>
    <%= loyalty_program.membership_tier %>
  </p>

</div>
