<div id="<%= dom_id table %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Table number:</strong>
    <%= table.table_number %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Seating capacity:</strong>
    <%= table.seating_capacity %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Status:</strong>
    <%= table.status %>
  </p>

</div>
