<div id="<%= dom_id offer %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Guest:</strong>
    <%= offer.guest_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Offer details:</strong>
    <%= offer.offer_details %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Expiry date:</strong>
    <%= offer.expiry_date %>
  </p>

</div>
